.employer-wrapper {
  background-color: $primary-campaign-color;

  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 3rem 1.5rem;
  border-radius: 15px;
  margin: 0 auto;

  color: white;

  .logo {
    margin: 0 1rem 0.5rem 0;
  }
}
