.steps {
  &__wrapper {
    background-color: $secondary-campaign-bg-color;

    padding: 5rem 3rem;
  }
  &__title {
    color: white;

    margin-bottom: 5rem;
  }

  &__section {
    display: flex;
    justify-content: space-evenly;
    min-height: 15rem;
  }

  &__step {
    background-color: white;
    padding: 3rem 2rem 1.5rem 2rem;
    border-radius: 1.5rem;
    width: 18rem;
    min-height: 18rem;
    position: relative;

    .number {
      font-size: 2rem;
      color: white;
      background-color: $primary-campaign-color;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;

      position: absolute;
      top: -18px;
      left: 50%;
      transform: translateX(-50%);
    }

    p {
      margin-top: 2rem;
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 990px) {
    &__section {
      flex-direction: column;
    }

    &__step {
      width: 80%;
      max-width: 300px;
      margin: 0 auto 5rem;

      p {
        font-size: 1.5rem;
      }
    }
  }
}
