.jobs {
  &__wrapper {
    padding: 5rem 1.5rem;
    background-color: $primary-campaign-bg-color;
  }
  &__secondary-title {
    margin-bottom: 5rem;
  }
  &__employer-container {
    width: 85%;
    background-color: #fff;
    margin: 5rem auto;
    padding: 1.5rem 1rem;

    .employer-info {
      display: flex;
      border-bottom: 1px solid #dedede;
      padding-bottom: 2rem;
    }
    .job-container {
      padding: 2rem 1rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .job-wrapper {
        width: 45%;
        margin: 0 2.5rem 2rem 0;
        padding: 1rem 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:nth-child(even) {
          margin: 0 0 2rem 0;
        }

        .content {
          text-align: left;
          flex-basis: 3;
          margin-right: 0.5rem;
        }

        .cta-btn {
          flex-basis: 2;
          align-items: center;
        }
      }
    }
  }
  @media only screen and (max-width: 990px) {
    &__employer-container {
      margin: 3rem auto;
      width: 100%;
      max-width: 550px;
      .job-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .job-wrapper {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    &__employer-container {
      .job-container {
        .job-wrapper {
          flex-direction: column;
          .cta-btn {
            margin-top: 1.5rem;
            width: 8rem;
          }
        }
      }
    }
  }
}
