.blank-box {
  // background-image: linear-gradient(
  //   to right,
  //   $primary-campaign-color,
  //   $primary-campaign-color-light
  // );
  background-color: $primary-campaign-color;
  width: 100%;
  height: 6rem;
  z-index: -1;

  // @media only screen and (max-width: 900px) {
  //   height: 12rem;
  // }
}

.job__wrapper {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &--container {
    width: 100%;

    @media only screen and (min-width: 1200px) {
      width: 1200px;
      margin: 0 auto;
    }
  }
}
