.footer {
  width: 100%;
  background-color: #4c4646;
  min-height: 25rem;
  color: $primary-font-color;
  border-top: 1px solid #d3d3d3;

  display: flex;

  &__logo {
    flex-basis: 20rem;
    flex-grow: 1;
    padding: 1.2rem 1.2rem;

    position: relative;

    img {
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__social {
    flex-basis: 20rem;
    flex-grow: 2;
    padding: 1.2rem 1.2rem;

    &--container {
      width: 300px;
      display: flex;
      justify-content: space-around;
      position: relative;
      top: 30%;

      .item {
        color: $primary-campaign-color;
        opacity: 0.5;
        &,
        &:visited,
        &:link {
          text-decoration: none;
        }
        i {
          font-size: 3rem;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-bottom: 2rem;

    flex-direction: column;

    &__logo {
      flex-basis: 10rem;
      flex-grow: 0;

      img {
        width: 200px;
      }
    }

    &__social {
      position: relative;

      &--container {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
