/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  z-index: 1;

  padding: 0.75rem 2rem;
  top: 0;
  width: 100%;

  font-weight: 1000;
  color: $primary-campaign-color;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
  font-size: 2rem;

  background-color: transparent;
  opacity: 1;

  @media only screen and (max-width: 600px) {
    &__brand {
      width: 200px;
      height: 100px;
    }
  }

  &__brand {
    width: 200px;
    height: 100px;

    img {
      width: 100%;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  a {
    color: $primary-campaign-color;
    padding: 0 0.45rem;
    margin: 0 0.25rem;
    text-decoration: none;
    font-weight: 600;
  }
}
