/* Global styles */

$primary-font-color: #333;
$secondary-font-color: #a9a9a9;
$primary-bg-color: #005d93;

$primary-campaign-color: #eb9605;
$primary-campaign-color-light: #bed6fc;
$primary-campaign-bg-color: rgb(223, 228, 233);
$secondary-campaign-bg-color: rgb(6, 50, 127);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  // prevent background-image from overflow when in smaller screen
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: LiHei Pro Medium, Microsoft JhengHei, \\65b0\7d30\660e\9ad4,
    Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.4;
  color: $primary-font-color;
}

.container {
  margin-top: 6rem;
  position: relative;

  min-height: 90vh;

  @media only screen and (max-width: 600px) {
    margin-top: 8rem;
  }
}
