/* Global styles */

$primary-font-color: #333;
$secondary-font-color: #a9a9a9;
$primary-bg-color: #005d93;

$primary-campaign-color: #2768f6;
$primary-campaign-bg-color: rgb(223, 228, 233);
$secondary-campaign-bg-color: rgb(6, 50, 127);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  // prevent background-image from overflow when in smaller screen
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans TC", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $primary-font-color;
}

.container {
  margin-top: 6rem;
  position: relative;

  min-height: 90vh;

  @media only screen and (max-width: 600px) {
    margin-top: 8rem;
  }
}
